.header {
    width: 100%;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.header__logo {
    width: 48px;
    height: 48px;
}

.header__lista {
    display: flex;
    list-style: none;
    margin-left:40px;
    gap: 10%;
}

.header__lista__enlace {
    display: block;
    font-family: SoDoSans;
    text-decoration: none;
    color: black;
    margin-right: 34px;
    font-size: 15px;
    font-weight: bolder;
}

.header__lista__enlace:hover{
    color: #02754b;
}

.header__button {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-family: SoDoSans;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button__image {
    width: 23px;
}

.header__button:hover{
    color: #4d4d4d;
}

.menu {
    width: 20px;
    display: none;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu_icon {
    width: 20px;
}

.mobile-menu {
    border-top: 2px solid #02754b;
    padding: 15px 0 15px 0;
}

.mobile-menu__lista {
    list-style: none;
}

.header__lista__enlace {
    margin: 0px 0 9px 0;
}

@media (max-width: 768px) {

    .header {
    position: static;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .header__button {
        display: none;
    }

    .header__lista {
        display: none;
    }
}